html, body {
  margin: 0;
  padding: 0;

}

h1 {
  letter-spacing: 2px;
}

h1 {
  font-family: HelveticaNeue;
  font-size: 25px;
}

h2 {
  letter-spacing: 2px;
  
}

p1  {
  letter-spacing: 2.3px;
}

p {
  font-family: HelveticaNeue;
  font-size: 15px;
}

p1  {
  letter-spacing: 0.5px;
}

p1 {
  font-family: HelveticaNeue-Light;
  font-size: 13px;
}
canvas {
  display: block;
}
